<div class="container">
	<div class="row top-row">
		<div class="col-6"></div>
		<div class="col-6">
			<div class="card">
				<div class="card-body align-center">
					<h4 class="form-title">Bienvenido al Restaurant</h4>
					<hr>
					<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<input type="text" formControlName="email" class="form-control separate-top-input align-center"
							placeholder="Ingrese su email" autofocus>
						<input type="password" formControlName="password"
							class="form-control separate-top-input align-center" placeholder="Ingrese su contraseña">
						<div class="row mar-top-2">
							<div class="col-2"></div>
							<div class="col-8 align-center">
								<ngx-recaptcha2 formControlName="captcha" #captchaElem
									[siteKey]="'6LdyPcgUAAAAABC2X0t5JiKItsjuBIXC8_rQAy7r'" [useGlobalDomain]="false">
									<!-- <ngx-recaptcha2 formControlName="captcha" #captchaElem 
									[siteKey]="'6Lef0cgUAAAAAO0_mOu5t8UWgk1jVhJQjkgCSmG_'" [useGlobalDomain]="false">-->
								</ngx-recaptcha2>
							</div>
							<div class="col-2"></div>
						</div>

						<div class="row mar-top-2">
							<div class="col-2"></div>
							<div class="col-8 align-center">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="chkHorario"
										formControlName="chkHorario">
									<label class="custom-control-label" for="chkHorario">Ignorar restricción
										horaria</label>
								</div>
							</div>
							<div class="col-2"></div>
						</div>

						<div class="row mar-top-2">
							<div class="col-2"></div>
							<div class="col-8 align-center">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="chkLunes"
										formControlName="chkLunes">
									<label class="custom-control-label" for="chkLunes">Que sea lunes!
									</label>
								</div>
							</div>
							<div class="col-2"></div>
						</div>


						<button *ngIf="!loading" [disabled]="!loginForm.valid" type="submit"
							class="btn btn-success full-width separate-top-input">Entrar</button>
						<div class="mar-top-1">
							<app-spinner *ngIf="loading"></app-spinner>
						</div>
					</form>
					<hr>
					<button routerLink="/app/register" class="btn btn-primary full-width">Registrarse</button>
				</div>
			</div>
		</div>
		<!-- <div class="col-3"></div> -->
	</div>
	<div class="row middle-row" [isProd]>
		<div class="col-6"></div>
		<div class="col-6">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary">
					<input type="radio" name="opJuan" value="juan" (click)="BindUser('juan')">Juan -
					Cliente
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="opJose" value="jose" (click)="BindUser('jose')">Jose -
					Mozo
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="opPablo" value="pablo" (click)="BindUser('pablo')">Pablo
					- Cocinero
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="opMartin" value="martin" (click)="BindUser('martin')">Martin - Bartender
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="opRoman" value="roman" (click)="BindUser('roman')">Roman
					- Cervecero
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="opIvan" value="ivan" (click)="BindUser('ivan')">Ivan -
					Socio
				</label>
			</div>



			<!-- <div class="radio">
				<label><input type="radio" name="opJuan" value="juan" [(ngModel)]="userOption" (click)="LoadUser()">Juan
					- Cliente</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="opMario" value="mario" [(ngModel)]="userOption"
						(click)="LoadUser()">Mario - Cliente</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="opJose" value="jose" [(ngModel)]="userOption" (click)="LoadUser()">Jose
					- Mozo</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="opPablo" value="pablo" [(ngModel)]="userOption"
						(click)="LoadUser()">Pablo - Cocinero</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="opMartin" value="martin" [(ngModel)]="userOption"
						(click)="LoadUser()">Martin - Bartender</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="opRoman" value="roman" [(ngModel)]="userOption"
						(click)="LoadUser()">Roman - Cervecero</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="opIvan" value="ivan" [(ngModel)]="userOption" (click)="LoadUser()">ivan
					- Socio</label>
			</div> -->



		</div>
		<div class="col-3"></div>
	</div>
</div>

<app-footer></app-footer>