<!-- <div *ngIf="product" class="card outside-shadow">
    <div class="card-body align-center">
        <div class="card-title">{{product.name}}</div>
        <img src="{{product.pathImg}}" class="img-shadow" (click)="AddToOrder(product)">
        <div class="price">
            <div class="row">
                <div class="col-3">
                    <span class="ordered" *ngIf="ordered"><i class="fas fa-clipboard-check"></i></span>
                </div>
                <div class="col-6">
                    ${{product.price}}.00
                </div>
                <div class="col-3">
                    <span class="quant" *ngIf="quantity > 1">x{{quantity}}</span>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div *ngIf="product.state != 'Deshabilitado'" class="card outside-shadow">
<div class="card align-center">
    <div class="align-center">
        <img src="{{product.image}}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <div class="price">
        <div class="row">
            <div class="col-3">
                <span class="ordered" *ngIf="ordered"><i class="fas fa-clipboard-check"></i></span>
            </div>
            <div class="col-6">
                ${{product.price}}.00
            </div>
            <div class="col-3">
                <span class="quant" *ngIf="quantity > 1">x{{quantity}}</span>
            </div>
        </div>
    </div>
        <button class="btn btn-primary" (click)="AddToOrder(product)">Añadir a pedido</button>
      <!-- <a href="#" class="btn btn-primary" (click)="AddToOrder(product)"></a> -->
    </div>
  </div>
</div>
