<div class="container">
    <div class="row top-row page-title">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <div class="col-3"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 align-center">

        </div>
        <div class="col-6">
            <button class="btn btn-success full-width" data-toggle="modal" data-target="#userModal">Agregar
                Usuario</button>
        </div>
        <div class="col-3">
            <div class="btn-group full-width">

                <button title="Todos" class="btn btn-outline-success" (click)="ClearFilters()"><i
                        class="fas fa-asterisk"></i></button>
                <button title="Socios" class="btn btn-outline-success" (click)="Filter('socio')"><i
                        class="fas fa-user-secret"></i></button>
                <button title="Bartenders" class="btn btn-outline-success" (click)="Filter('bartender')"><i
                        class="fas fa-wine-glass-alt"></i></button>
                <button title="Cerveceros" class="btn btn-outline-success" (click)="Filter('cervecero')"><i
                        class="fas fa-beer"></i></button>
                <button title="Cocineros" class="btn btn-outline-success" (click)="Filter('cocinero')"><i
                        class="fas fa-fire"></i></button>
                        <button title="Mozos" class="btn btn-outline-success" (click)="Filter('mozo')"><i
                            class="fas fa-book"></i></button>
                <button title="Suspendidos" class="btn btn-outline-success" (click)="Filter('suspendidos')"><i
                        class="fas fa-ban"></i></button>
                <button title="Habilitados" class="btn btn-outline-success" (click)="Filter('habilitados')"><i
                        class="fas fa-check"></i></button>

            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 align-center">

        </div>
        <div class="form-group col-6 align-center full-width">
            <input class="form-control" type="text" [(ngModel)]="busqueda" (input)="search()" placeholder="Ingrese aqui su busqueda...">
        </div>
        <div class="col-3 align-center">

        </div>
        
        
    </div>

    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Suspender</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr class="user" *ngFor="let user of showingUsers | async">
                    <td><img [src]="user.image" width="30px" height="30px">
                    </td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td><button class="btn btn-outline-danger" *ngIf="user.state != 'deshabilitado'"
                            (click)="changeState(user.id, user.state)">Suspender</button>
                        <button class="btn btn-outline-success" *ngIf="user.state == 'deshabilitado'"
                            (click)="changeState(user.id, user.state)">Reincorporar</button>
                    </td>
                    <td><button class="btn btn-outline-danger" (click)="deleteUser(user.id)">Borrar</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#userModal"
                            (click)="editarUsuario(user)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>

<!-- Product modal -->
<div class="modal fade" id="userModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8" *ngIf="!this.haySeleccionado">
                            <h3 class="align-center">Agregar Usuario</h3>
                        </div>
                        <div class="col-8" *ngIf="this.haySeleccionado">
                            <h3 class="align-center">Editar Usuario</h3>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <hr class="mar-top-1">
                    <form [formGroup]="userForm" (ngSubmit)="SendUser()">

                        <div class="row" *ngIf="this.haySeleccionado">
                            <div class="col-5"></div>
                            <div class="col-2">
                                <img [src]="this.usuarioSeleccionado.image" width="60px" height="60px">
                            </div>
                            <div class="col-5"></div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">

                                <div class="row middle-row">
                                    <div class="col-12">
                                        <label>Nombre:</label>
                                    </div>
                                    <div class="col-12">
                                        <input formControlName="userName" class="form-control full-width align-center"
                                            type="text" placeholder="Nombre del usuario" required>
                                    </div>
                                </div>

                                <div class="row middle-row">
                                    <div class="col-12">
                                        <label>Apellido:</label>
                                    </div>
                                    <div class="col-12">
                                        <input formControlName="userLastname"
                                            class="form-control full-width align-center" type="text"
                                            placeholder="Apellido del usuario" required>
                                    </div>
                                </div>

                                <div class="row middle-row">
                                    <div class="col-12">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-12">
                                        <input formControlName="userMail" class="form-control full-width align-center"
                                            type="email" placeholder="Email del usuario" required>
                                    </div>
                                </div>

                                <div class="row middle-row">

                                    <div class="col-12">
                                        <label>Rol:</label>
                                    </div>

                                    <div class="col-12">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                                            formControlName="userRole">
                                            <option value="bartender">Bartender</option>
                                            <option value="cocinero">Cocinero</option>
                                            <option value="cervecero">Cervecero</option>
                                            <option value="mozo">Mozo</option>
                                            <option value="socio">Socio</option>
                                            <option value="mozo">Mozo</option>
                                            <option value="cliente">Cliente</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row middle-row">
                                    <div class="col-12">
                                        <label>Foto de perfil:</label>
                                    </div>

                                    <div class="col-12">
                                        <div class="btn btn-primary btn-sm float-left">
                                            <input type="file" (change)="onFileChanged($event)"
                                                formControlName="userImage" name="userImage">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>

                    <hr class="mar-top-1">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="btn-group full-width">
                                <button class="btn btn-outline-danger" title="Cancelar" (click)="Cancel()"
                                    data-dismiss="modal"><i class="fas fa-times"></i></button>

                                <button class="btn btn-outline-success" *ngIf="!this.haySeleccionado"
                                    title="Agregar usuario" (click)="addUser()" data-dismiss="modal"><i
                                        class="fas fa-check"></i></button>

                                <button class="btn btn-outline-success" *ngIf="this.haySeleccionado"
                                    title="Actualizar usuario" (click)="updateUser()" data-dismiss="modal"><i
                                        class="fas fa-check"></i></button>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>