<div class="container">
	<div class="row top-row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="card">
				<div class="card-body align-center">
					<h4 class="form-title">Registrarse</h4>
					<hr>
					<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <input type="text" formControlName="name" class="form-control separate-top-input align-center" placeholder="Nombre" autofocus>
                        <input type="text" formControlName="lastname" class="form-control separate-top-input align-center" placeholder="Apellido">
						<input type="email" formControlName="email" class="form-control separate-top-input align-center" placeholder="Email">
                        <input type="password" formControlName="password" class="form-control separate-top-input align-center" placeholder="Contraseña">
						<input type="password" formControlName="repPassword" class="form-control separate-top-input align-center" placeholder="Repita la contraseña">
						<div class="row mar-top-2">
							<div class="col-2"></div>
							<div class="col-8 align-center">
								<ngx-recaptcha2  formControlName="captcha" #captchaElem [siteKey]="'6LdyPcgUAAAAABC2X0t5JiKItsjuBIXC8_rQAy7r'" [useGlobalDomain]="false"></ngx-recaptcha2>
								<!-- <ngx-recaptcha2 formControlName="captcha" #captchaElem [siteKey]="'6Lef0cgUAAAAAO0_mOu5t8UWgk1jVhJQjkgCSmG_'" [useGlobalDomain]="false"></ngx-recaptcha2> -->
							</div>
							<div class="col-2"></div>
						</div>
						<div class="row mar-top-2">
							<div class="col-2"></div>
							<div class="col-8 align-center">						
								<div class="col-12">
									<label class="mr-sm-2">Seleccione el numero {{ this.random }}</label>
								</div>	

								<select class="browser-default custom-select" formControlName="customCaptcha">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
								 </select>		
							</div>
							<div class="col-2"></div>
						</div>
						
						<button *ngIf="!loading" [disabled]="!registerForm.valid" type="submit" class="btn btn-success full-width separate-top-input">Registrarse</button>
						<div class="mar-top-2" *ngIf="loading">
							<app-spinner></app-spinner>
						</div>
					</form>
					<hr>
					<button routerLink="/app/login" class="btn btn-secondary full-width">¿Ya tenés una cuenta?</button>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
</div>

<app-footer></app-footer>