table {
    background: silver;
    border: 2px solid black;
    border-radius: 10px;

    th {
        border: none;
    }
}

label{
    margin-top: 3rem;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
}

.red {
    color: red;
}

.yellow {
    color: rgb(216, 184, 0);
}

.green {
    color: rgb(1, 179, 1);
}

.survey {
    cursor: pointer;
}