<div class="align-center mar-top-1" *ngIf="this.topBest == null && this.topWorst == null">
    <div class="row top-row page-title">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <div class="col-3"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 align-center">

        </div>
        <div class="col-6">

        </div>
        <div class="col-3">

        </div>
    </div>

    <hr>
    <app-spinner></app-spinner>
</div>
<div class="container" *ngIf="this.cancelledOrders != null">
    <div class="row" *ngIf="this.topBest != null && this.topWorst != null">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <div class="col-3"></div>
        <hr>
        <div class="col-3"></div>
        <div class="col-6"></div>
        <div class="col-3"></div>
        <hr>
        <div class="col-3">
        </div>
        <div class="col-6">
            <button class="btn btn-success full-width" data-toggle="modal" data-target="#settingsModal">Personalizar<i
                    class="fas fa-cogs"></i></button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-info full-width" (click)="exportCSV()">Exportar a CSV<i
                class="fas fa-angle-double-down" ></i></button>
        </div>

        <div class="row">
            <div class="col-3 align-center">
            </div>
            <div class="col-6 align-center">
            </div>
            <div class="col-3 align-center">
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="this.topBest">
        <div class="col-3 align-center">
        </div>
        <div class="col-6 align-center">
            <h2>Top 3 mas vendidos</h2>
        </div>
        <div class="col-3 align-center">
        </div>

        <div class="card col-3 align-center" *ngIf="this.topBest[0] != null">
            <img src="../../../../../assets/img/primero-trofeo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.topBest[0][0]}}</h5>
                <p class="card-text">El articulo {{this.topBest[0][0]}} fue el mas solicitado con {{this.topBest[0][1]}}
                    ventas </p>
            </div>
        </div>

        <div class="card col-3 align-center" *ngIf="this.topBest[1] != null">
            <img src="../../../../../assets/img/segundo-trofeo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.topBest[1][0]}}</h5>
                <p class="card-text">En segundo lugar se encuentra {{this.topBest[1][0]}} con {{this.topBest[1][1]}}
                    ventas</p>
            </div>
        </div>

        <div class="card col-3 align-center" *ngIf="this.topBest[2] != null">
            <img src="../../../../../assets/img/tercero-trofeo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.topBest[2][0]}}</h5>
                <p class="card-text">El tercer puesto es para {{this.topBest[2][0]}} con {{this.topBest[2][1]}} ventas
                </p>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="this.topWorst">
        <div class="col-3 align-center">
        </div>
        <div class="col-6 align-center">
            <h2>Top 3 menos vendidos</h2>
        </div>
        <div class="col-3 align-center">
        </div>
        <div class="card col-3 align-center" *ngIf="this.topWorst[0] != null">
            <img src="../../../../../assets/img/mal amarillo.png" class="card-img-top">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">{{this.topWorst[0][0]}}</h5>
                    <p class="card-text">El articulo {{this.topWorst[0][0]}} no se vendió tanto, tuvo
                        {{this.topWorst[0][1]}} ventas </p>
                </div>
            </div>
        </div>
        <div class="card col-3 align-center" *ngIf="this.topWorst[1] != null">
            <img src="../../../../../assets/img/mal naranja.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.topWorst[1][0]}}</h5>
                <p class="card-text">El articulo {{this.topWorst[1][0]}} fue un poco menos solicitado que el anterior
                    con
                    {{this.topWorst[1][1]}} ventas </p>
            </div>
        </div>
        <div class="card col-3 align-center" *ngIf="this.topWorst[2] != null">
            <img src="../../../../../assets/img/mal rojo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.topWorst[2][0]}}</h5>
                <p class="card-text">El articulo {{this.topWorst[2][0]}} fue lo menos solicitado con
                    {{this.topWorst[2][1]}} ventas </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-center">

        </div>
        <div class="col-6 align-center">
            <h2>Pedidos Cancelados</h2>
        </div>
        <div class="col-3 align-center">

        </div>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order" *ngFor="let order of cancelledOrders | async">
                        <td><label>{{order.codeID}}</label></td>
                        <td>{{order.timestamp | date:'hh:mm dd/MM/yyyy'}}</td>
                        <td>{{order.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-3 align-center">
        </div>
        <div class="col-6 align-center">
            <h2>Pedidos no entregados en tiempo estipulado</h2>
        </div>
        <div class="col-3 align-center">
        </div>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Demora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order" *ngFor="let order of delayedOrders | async">
                        <td><label>{{order.codeID}}</label></td>
                        <td>{{order.timestamp | date:'hh:mm dd/MM/yyyy'}}</td>
                        <td>{{order.delayed | timeleft}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>


<!-- Settings modal -->
<div class="modal fade" id="settingsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <h3 class="align-center">Personalizar Busqueda</h3>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <hr class="mar-top-1">
                    <form [formGroup]="settingsForm" (ngSubmit)="SendSettings()">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="row middle-row">
                                    <div class="col-6">
                                        <div class="col-12">
                                            <label>Desde fecha:</label>
                                        </div>
                                        <div>
                                            <input type="date" name="fechaInicio" formControlName="fechaInicio"
                                                (change)="setDate()">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-12">
                                            <label>Hasta fecha:</label>
                                        </div>
                                        <div>
                                            <input type="date" name="fechaFin" formControlName="fechaFin"
                                                (change)="setDate(false)">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>

                    <hr class="mar-top-1">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="btn-group full-width">
                                <button class="btn btn-outline-danger" title="Cancelar" (click)="Cancel()"
                                    data-dismiss="modal"><i class="fas fa-times"></i></button>

                                <button class="btn btn-outline-success" title="Filtrar tabla" (click)="search()"
                                    data-dismiss="modal"><i class="fas fa-check"></i></button>

                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>